{
  "extends": "stylelint-config-sass-guidelines",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "scss/at-import-partial-extension-blacklist": ["css"],
    "at-rule-empty-line-before": "never",
    "block-opening-brace-space-before": "always",
    "block-closing-brace-newline-after": "never",
    "declaration-colon-space-after": "always",
    "declaration-colon-space-before": "never",
    "indentation": "tab",
    "no-descending-specificity": null,
    "no-eol-whitespace": true,
    "rule-empty-line-before": [
      "always",
      "except": [
        "after-single-line-comment",
        "first-nested"
      ]
    ]
  }
}
