#tooltip {
	@include border-radius;
	@include drop-shadow(1px, 2px, 4px, 0.2);
	background: #fff;
	border: 1px solid #ccc;
	color: #fff;
	font-size: 15px;
	font-weight: normal;
	margin-top: 10px;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	transition: opacity 0.35s ease 0.25s;
	z-index: 100;

	&.show {
		opacity: 1;
		pointer-events: all;
	}

	a,
	a:link {
		color: #333;
		text-decoration: none;

		&:hover {
			background: #eee;
		}
	}

	form {
		margin: 1em;
	}
}

#popup,
#tooltip {
	table {
		margin: 5em 0 0;
		text-align: initial;
		width: 100%;

		td:first-child {
			font-weight: bold;
			text-align: end;
			width: 40%;
		}
	}

	label {
		display: flex;
		flex-direction: column;
		font-weight: bold;
		margin: 6px  0 0;
	}

	input,
	textarea {
		border: 1px solid #999;
		font-size: 90%;
		margin: 4px 0 0;
		padding: 4px;

		&:focus {
			@include inner-shadow(0, 1px, 5px, 0.1);
			border-color: #aaa;
		}

		&.invalid {
			background: #fdd;
			border-color: #900;
		}
	}

	.error {
		background: #900;
		border-radius: 0 0 5px 5px;
		color: white;
		font-size: 80%;
		padding: 0;

		&.active {
			padding: 0.3em;
		}
	}

	.button {
		border: 1px solid #367;
		@include rounded(2px);
		margin: 6px 0 0;
		padding:4px 15px;
		background: #589;
		color: #fff;

		&:hover {
			background: #367;
			border-color: #034;
		}
	}
}
