{% include head.html %}
    <article> {{ content }}
        <dl>{% for g in site.data.groups %}
            <dt>
                {{ g[1].name }}
            </dt>{% for p in site.pages | sort: 'title' %}{% if g[0] == p.group %}
            <dd>
                <a href="{{ site.baseurl }}{{ p.url }}">
                    {{ p.title }}
            </dd>{% endif %}{% endfor %}{% endfor %}
                </a>{% if p.excerpt %} — {{ p.excerpt }}{% endif %}
        </dl>
    </article>
{% include foot.html %}
